<header class="border-bottom">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between py-3">

      <a href="{{ '/' | relative_url }}"
         class="d-flex align-items-center text-decoration-none mb-3 mb-md-0">
        <span class="fs-4 fw-semibold">{{ site.title | escape }}</span>
      </a>

      {%- assign page_paths = site.header_pages -%}
      {%- if page_paths -%}
        <ul class="nav nav-pills justify-content-center">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}

              {%- assign is_active = false -%}
              {%- if page.url == my_page.url -%}
                {%- assign is_active = true -%}
              {%- endif -%}
              {%- if my_page.url == '/portfolio/' and page.layout == 'post' -%}
                {%- assign is_active = true -%}
              {%- endif -%}

              <li class="nav-item">
                {%- if is_active -%}
                  <a href="{{ my_page.url | relative_url }}" class="nav-link active" aria-current="page">
                    {{ my_page.title | escape }}
                  </a>
                {%- else -%}
                  <a href="{{ my_page.url | relative_url }}" class="nav-link">
                    {{ my_page.title | escape }}
                  </a>
                {%- endif -%}
              </li>

            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}

    </div>
  </div>
</header>
